!!!XML
%storage_volume{ :href => storage_volume_url(@storage_volume.id), :id => @storage_volume.id}
  %created<
    =@storage_volume.created
  %capacity<
    =@storage_volume.capacity
  %device<
    =@storage_volume.device
  %state<
    =@storage_volume.state
  %device<
    =@storage_volume.device
  %instance_id<
    =@storage_volume.instance_id
  - unless @storage_volume.instance_id.nil?
    %instance{:href => instance_url(@storage_volume.instance_id), :id => @storage_volume.instance_id}
  %actions
    - if driver.respond_to?(:destroy_storage_volume)
      %link{ :rel => "destroy", :method => "delete", :href => destroy_storage_volume_url(@storage_volume.id)}
    - if driver.respond_to?(:attach_storage_volume)
      %link{ :rel => "attach", :method => "post", :href => attach_storage_volume_url(@storage_volume.id)}
    - if driver.respond_to?(:detach_storage_volume)
      %link{ :rel => "detach", :method => "post", :href => detach_storage_volume_url(@storage_volume.id)}

